
.contact{
    text-decoration: blink;
    box-shadow: 4px 4px 8px 0px rgba(42, 14, 75, 0.53);
    color: #831bef;
    margin-top: 5px;
    margin-bottom: 5px;
}

.avaImg{
    width: 100px;
}

.contacts{
    padding-left: 20px;
}