.friendsBar_wrapper {
    display: grid;
    grid-template:
        "FH"
        "AI";
}

.friendsBar_header {
    grid-area: FH;
    margin: 0 auto;
}

.friendsBar_allItems {
    grid-area: AI;
    border: 1px solid blue;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: space-around;
    justify-items: center;
}

.friendsBar_item a {
    width: 3vw;
    height: 3vw;
    font-size: 1vw;
    padding: 0.8vw;
    border-radius: 50%;
    background-color: #74ffb5;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}