.profile_wrapper {
    background-color: #de92e7;
    padding: 10px;
}

.profileImg {
    display: block;
    width: 500px;
    margin: 0 auto;
}

.postItem {
    display: flex;
    align-items: center;
}

.postItem_faceAndCount_face {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.postText {
    padding: 10px;
}

.postItem_button {
    margin: 10px;
    width: 80px;
}