.app_wrapper {
    max-width: 1268px;
    min-height: 100vh;
    margin: 0 auto;
    border: 1px solid red;
    display: grid;
    grid-template:
        "H H H H H"
        "N C C C C "
        "F F F F F";
    grid-template-rows: 40px auto 40px;
    grid-template-columns: repeat(5,1fr);
}